@font-face {
  font-family: preferred-mono;
  src:
      local('Iosevka'),
      local("Iosevka Slab"),
      local("Fira Code"),
      local("Operator Mono Lig"),
      local("Operator Mono SSm Lig"),
      local("PragmataPro"),
      local("Menlo"),
      local("Monaco"),
      local("Consolas");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.layout {
  color: #222;
  font-family: Merriweather, KaTeX_Main, serif;
  padding: 0 3em;
  margin: 3em auto;
  max-width: 1024px;
  line-height: 1.6em;
  background-color: white;
  font-size: 17px;
  font-weight: 300;
}
.dim-anchor {
  color: gray;
  text-decoration: none;
}
.dim-anchor:hover {
  color: black;
}
main {
  padding-top: 1em;
}
@media screen and (max-width: 768px) {
  .layout {
      padding: 0 1em;
      margin: 1em auto;
  }
}
