@font-face {
  font-family: han-songti;
  src:
      local('Source Han Serif SC'),
      local('Source Han Serif'),
      local('Noto Serif CJK SC'),
      local('Noto Serif CJK'),
      local('Adobe Song Std'),
      local('STZhongsong'),
      local('Songti SC'),
      local('STSong'),
      local('SimSun');
}
@font-face {
  font-family: han-kaiti;
  src:
      local('STKaiti'),
      local('Kaiti SC'),
      local('KaiTi');
}
@font-face {
  font-family: han-heiti;
  src:
      local('Source Han Sans SC'),
      local('Source Han Sans'),
      local('Noto Sans CJK SC'),
      local('Noto Sans CJK'),
      local('Adobe Heiti Std'),
      local('PingFang SC'),
      local('Microsoft YaHei'),
      local('STHeiti'),
      local('Heiti SC'),
      local('SimHei');
}
@font-face {
  font-family: han-fangsong;
  src:
      local('Adobe Fangsong Std'),
      local('STFangsong'),
      local('FangSong');
}
@font-face {
  font-family: preferred-mono;
  src:
      local('Iosevka'),
      local("Iosevka Slab"),
      local("Fira Code"),
      local("Operator Mono Lig"),
      local("Operator Mono SSm Lig"),
      local("PragmataPro"),
      local("Menlo"),
      local("Monaco"),
      local("Consolas");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
}
.layout {
  color: #222;
  font-family: KaTeX_Main, han-songti, serif;
  padding: 0 3em;
  margin: 3em auto;
  max-width: 1000px;
  line-height: 1.5em;
  background-color: white;
}
.dim-anchor {
  color: gray;
  text-decoration: none;
}
.dim-anchor:hover {
  color: black;
}
main {
  padding-top: 1em;
}
@media screen and (max-width: 768px) {
  .layout {
      padding: 0 1em;
      margin: 1em auto;
  }
}
